
.header{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1.3rem;
  }

.header-menu{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu a{
  font-size: 1.125rem;
  padding: 0.8rem 1.1rem;
  display: block;
}

@media screen and (width < 780px) {

    .header{
      flex-direction: column;
      gap: 3rem;
      padding: 1.2rem;
    }

    .header a{
      padding: 0.5rem;
      background-color: #a5a5a5;
      color: white;
      text-transform: uppercase;
      font-size: 0.8rem;
      border-radius: 0.2rem;
    }
  
}